<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">My monster</div>
            </div>
            <div class="right">
                <div id="hp">40hp</div>
            </div>
        </header>
        <figure id="art">
            <img src="electric.jpg" alt="" class="energy icon">
            <figcaption>N°025 Monter</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="name">
                        Geo Impact
                    </div>
                    <div class="damage">60</div>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quisquam quia delectus culpa natus ab quae non, recusandae ducimus quam, ea, soluta dolore rem repellendus at et fugiat itaque omnis.
    </div>
</div>