#card {
	display: block;
	width: 250px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0 grey;
	background-color: rgb(221, 221, 221);
}

#inside {
	padding: 5px;
	background-color: rgba(255, 252, 81, 0.676);
}

header {
	display: flex;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;

	.left, .right {
		display: flex;
		width: 50%;
		align-items: center;
	}

	.right {
		flex-direction: row;
		justify-content: flex-end;
		gap: 10px;
	}

	.right #hp, .right img {
		vertical-align: middle;
	}
}

figure#art {
	margin: 0;
	padding: 5px 5px 0 5px;
	width: calc(100% - 10px);
	overflow: hidden;
	background-color: lightgrey;

	img {
		width: 100%;
		height: 175px;
		object-fit: cover;
	}

	figcaption {
		text-align: center;
		font-size: smaller;
		padding-bottom: 5px;
	}
}

.icon.energy {
	width: 15px;
	height: 15px;
}

#capacities {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	
	.description {
		margin-top: 2px;
		font-size: smaller;
	}
}

.capacity {
	display: flex;
	flex-direction: column;
	margin: 5px 0;

	.main {
		display: flex;
		flex-direction: row;
		gap: 10px;
		font-weight: bold;

		.name {
			flex-grow: 1;
			}

		.cost {
			display: flex;
			gap: 5px;
			align-items: center;
		}
	}
}