<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{ name }}</div>
            </div>
            <div class="right">
                <div id="hp">{{ hp }} hp</div>
            </div>
        </header>
        <figure id="art">
            <img src="electric.jpg" alt="" class="energy icon">
            <figcaption>{{ figureCaption }}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="name">
                        {{ attackName }}
                    </div>
                    <div class="damage">{{ attackStrength }}</div>
                </div>
            </div>
            <div class="description">
                {{ attackDescription }}
            </div>
        </div>
    </div>
</div>